<% user = get_session_user %>
<% if !user %>
<div class="jumbotron">
	<%= form_for(@user, :url => {:action => "makesession"}, :html => {:class => "formdefault form-horizontal"}) do |f| %>
		<fieldset>
		<legend>Login using your DC website credentials</legend>
		<div class="form-group">
			<label class="col-lg-1 control-label">Username</label>
			<div class="col-lg-11">
				<div class="col-lg-2">
					<%= f.text_field :username, :class => "form-control col-lg-2" %>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-1 control-label">Password</label>
			<div class="col-lg-11">
				<div class="col-lg-2">
					<%= f.password_field :password, :class => "form-control col-lg-2" %>
				</div>
			</div>
		</div>
		<%= f.submit "Log in", :class => "buttondefault btn btn-primary" %>
		</fieldset>
	<% end %>
	<br><br>
	<p>If you haven't, please <a href="http://172.16.86.222/dchub/register" target="_blank">register on DC website</a> first.</p>
</div>
<% else %>
<div class="jumbotron"><p>You're already logged in :P</p></div>
<% end %>
