<div class="jumbotron">
	<p>IdeaPool is a collaboration website for open and closed source projects. It is meant to serve as a frontend to the student mentorship programme and other projects.</p>
	<h2>How does project mentorship work?</h2>
	<p>The usual flow is like this - students fill out a form, we select mentors, we assign students to mentors, and then, well, we forget about everything :)</p>
	<p>
		This time, we decided to make the process a bit more interesting. So, this time -
		<ul style="font-size:20px;">
			<li>anyone can propose a project</li>
			<li>admins approve interesting and doable projects</li>
			<li>anyone can volunteer for a project</li>
			<li>admins interview volunteers and choose project members</li>
			<li>managers set up goals, provide templates, guidance</li>
			<li>project finishes up, and everyone learns!</li>
		</ul>
	</p>
	<h2>How can I participate? What do you need me to know?</h2>
	<p>
		If you're willing to learn, that's more than enough. Apart from that, just <a href="http://172.16.86.222/dchub/register" target="_blank">register on DC</a>, and use the same credentials here. They should work.
	</p>
</div>